AnnotationPipeline/__pycache__
AnnotationPipeline/Data
AnnotationPipeline/Patterns
AnnotationPipeline/sexist-model
AnnotationPipeline/Flashback/*.json
AnnotationPipeline/Flashback/topics_files
AnnotationPipeline/Flashback/subtopics_files
AnnotationPipeline/NEW_DATA
AnnotationPipeline/Flashback/sampled_data
AnnotationPipeline/Flashback/sampled_20_data
AnnotationPipeline/Flashback/sampled_15_data
AnnotationPipeline/Flashback/thread_text_files
Old/Data
AnnotationPipeline/flashback_random_keyword-model
TrainingPipeline/Final_data
AnnotationPipeline/flashback_20span_keyword-model
TrainingPipeline/Test_model
TrainingPipeline\__pycache__
TrainingPipeline\Saved_models
TrainingPipeline\TrainerApi_pipeline\TrainerApiModel
TrainingPipeline\TrainerApi_pipeline\results
TrainingPipeline\TrainerApi_pipeline\RESHUFFLED_FINAL_20SPAN_KEYWORD_DATASET.jsonl